h1,h2,h3,h4,h5,h6{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #f0f0f0;
    font-family: 'Lato', sans-serif;
}

.dropdown-item:hover{
    background-color: #5bc0de;  /* bootstrap info color hex value */
    color: white;
}

.card {
    border-radius: 0.5rem;
}

.ck-content {
    min-height: 13rem;
}

.cus-card-container{
    background-color: white;
    border-radius: 0.5rem;
}

.user-card{
    border-radius: 0.5rem;
    width: 15rem;
}

.tag {
    border-radius: 0.2rem;
}

.question-container{
    display: flex;
}

.vote{
    text-align: center;
}

.vote-container{
    background-color: #add8e6;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.vote-icon{
    margin-top: 1rem;
    font-size: 2rem;
    cursor: pointer;
}